<div class="centered-container">
   <p>Welcome!</p>
   <p>With this app you can have all your different money concerns in the same place:</p>
   <ul>
      <li>Accounts: see the balance of your different bank accounts.</li>
      <li>Debts: see what debts you need to pay and which persons are in debt with you.</li>
      <li>Services: load the services you pay each month and keep track of their prices.</li>
      <li>Totals: keep track of the sum of all the money you have and see graphics of the percentage of it you have on
         each
         account.</li>
   </ul>
   <p>Are you ready?</p>
   <button routerLink="/register">Let's start!</button>
</div>