<div class="centered-container">
   <p class="required-step-text">Please fill the following fields to create your account</p>
   <div class="label-and-input label-and-input_vertical">
      <label>Name</label>
      <input type="text" [(ngModel)]="ui.name" />
   </div>
   <div class="label-and-input label-and-input_vertical">
      <label>Username</label>
      <input type="text" [(ngModel)]="ui.username" />
   </div>
   <div class="label-and-input label-and-input_vertical">
      <label>Password</label>
      <input type="password" [(ngModel)]="ui.password" />
   </div>

   <button class="primary">Sign Up</button>

   <div style="margin-top: 35px;">
      <p>Do you already have an account?</p>
      <button routerLink="/login">Login instead</button>
   </div>
</div>