.home {
   display: flex;
}

.item-list {
   display: flex;
   flex-wrap: wrap;
}

.right-panel {
   max-width: 100px;
}

.slot {
   padding: 16px;
   border: 1px solid;
   width: 64px;
   height: 64px;
   cursor: pointer;
}

.slot:hover {
   background-color: #f0f0f0;
}